* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 33);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style: none;
    margin: 0 23px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color: lavender;
}


main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 0px 84px;
    margin-top: 80px;
}
.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 55px 0;
}
.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.4rem;
    align-items: center;
}
.leftSection .buttons {
    padding: 50px 0;
}
.leftSection .btn {

    padding: 7.5px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.rightSection {

    width: 34px;
}
.rightSection img {
    width: 80%;
    margin: 50px 0;
}
.purple {
    color: blueviolet;
}
.text-gray {
    color: gray;
}



.about-me {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}
.about-me-content {
    flex: 1;
    padding: 20px;
    margin-right: 80px; 
    text-align: left;
}
.about-me-content h2 {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}
.about-me-content p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #c3b3e6;
}
.about-me-image {
    flex: 1;
    text-align: center;
}
.about-me-image img {
    max-width: 50%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(239, 255, 180, 0.5);
}



.social-icons {
    text-align: center;
    margin-top: 14px;
    margin-left: -20px;
}
.social-icons a {
    display: inline-block;
    margin-left: 20px; 
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #007bff;
}
.social-icons img {
    width: 30px;
    height: auto;
}
#element {
    color: rgb(112, 112, 212);
}


.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondSection h1 {
    font-size: 1.9rem;
}
.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 26px 0;    
}
.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}
.vertical-title {
    position: relative;
    top: 10px;
    width: 80px;
    left: 10px;
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px;
    background-color: #0056b3;
}
.big-image {
    max-width: 450px; 
    float: right; 
    margin-right: 20px;
    margin-top: 100px; 
}

.text-center{
    text-align: center;
    padding: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}




.projects {
    text-align: center;
    padding: 50px 0;
    clear: both;
    margin-left: 50px;
   
}
.project-card {
    background-color: #000540;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px ;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    float: left;
    width: calc(15% - 20px);
    height: 150px;
    padding-bottom: calc(15% - 20px);
    position: relative;
}
.projects::after {
    content: "";
    display: table;
    clear: both;
}
.project-card img {
    max-width: 100%;
    height: 150px;
}
.project-card h2 {
    margin-top: 10px;
    font-size: 1.5em;
}
.project-card p {
    margin-top: 10px;
}
.project-card a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 1px solid white;
}
.project-card a:hover {
    background-color: #0056b3;
}


.form {
    max-width: 40%;
    margin: 0 auto; 
    text-align: center;
}
.form-input {
    margin: 10px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 16px; 
    border: 2px solid grey;
    border-radius: 6px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn1 {
    padding: 10px 20px;
    background-color: #feffff;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}




footer {
    background-color: #0e0e1a;

}
.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
    margin-top: 100px;
    color: #c2e1e1;
}
.footer ul {
    list-style: none;
}
.footer>div {
    width: 223px;
}
footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}